<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
           http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.crk.service" />
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.crk.controller"/>
    <bean id="userInfo" class="com.crk.pojo.UserInfo">
        <constructor-arg value="12"/>
        <constructor-arg value="22"/>
        <constructor-arg value="33"/>
        <constructor-arg>
            <list>
                <value>11</value>
                <value>12</value>
                <value>13</value>
            </list>
        </constructor-arg>
    </bean>
    <bean id="knight" class="com.crk.pojo.knight"

    >
        <constructor-arg ref="quest">
        </constructor-arg>
    </bean>
    <bean id="quest" class="com.crk.pojo.SlayDragonQuest">
        <constructor-arg  value="#{T(System).out}">
        </constructor-arg>
    </bean>

    <bean id="minstrel" class="com.crk.pojo.minstrel">
        <constructor-arg value="#{T(System).out}">

        </constructor-arg>
    </bean>
    <aop:config>
        <aop:aspect ref="minstrel">
            <aop:pointcut id="doTask" expression="execution(* *.doTask(..))"></aop:pointcut>
            <aop:before method="singleBefore" pointcut-ref="doTask"></aop:before>
            <aop:after method="singleAfter" pointcut-ref="doTask"></aop:after>
        </aop:aspect>
    </aop:config>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <!--数据库驱动-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--连接数据库的url-->
        <property name="url" value="jdbc:mysql://localhost:3306/springboot"/>
        <!--连接数据库的用户名-->
        <property name="username" value="root"/>
        <!--连接数据库的密码-->
        <property name="password" value="941021"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 因为映射接口文件不放在同一个包下，所以需要配置xml的位置 -->
        <property name="mapperLocations" value="classpath:mapping/*.xml" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 配置接口包的位置 -->
        <property name="basePackage"  value="com.crk.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
</beans>